/* ======================
   Google Fonts import 
   ======================*/

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

   /* global css */
.font_family{
    font-family: 'Poppins', sans-serif;
}
.blue{
    color: #289BDE;
}
.bg-blue{
    background-color: #289BDE;
}
/* ==============================
   Navigation part css start 
   ==============================*/
   .nav_height img{
         max-height: 40px;
   }
   #navigation ul li a{
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
   }
   #navigation ul li a:hover{
    color: #383CC1;
   }
/* ==============================
   Navigation part css end 
   ==============================*/
/* ==============================
   Banner part css start 
   ==============================*/
   #banner_part .align_mid_text{
    top: 57%;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

#banner_part .align_mid_text h1{
    font-size: 65px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 85px;
}
#banner_part .align_mid_text p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin: 10px 30px 40px 30px;
}
#banner_part .bc, #courses .bc, #explore .bc,#student .bc{
    background-color: #DE6B28;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
/* ==============================
   Banner part css end 
   ==============================*/
/* ==============================
   Courses part css start 
   ==============================*/
    #courses .courses_title{
     color: #1D1D1D;
     font-weight: 600;
     font-size: 45px;
     font-family: 'Poppins', sans-serif;
    }
    #courses .courses_des,#explore p,#feedback p,#qna p{
     color: #777777;
     font-weight: 400;
     font-size: 16px;
     line-height: 30px;
     font-family: 'Poppins', sans-serif;
    }
    .course_heading{
        font-weight: 600;
        color: #4A4A4A;
        font-size: 25px;
    }
    .card-text, #student .tstyle{
        color: #777777;
        font-size: 16px;
        line-height: 26px;
    }
    .card-price{
        color: #289BDE;
        font-size: 18px;
        font-weight: 600;
    }
/* ==============================
   Courses part css end 
   ==============================*/
/* ==============================
   feedback part css start 
   ==============================*/
   .fa-solid, .fas,.fa-regular, .fa {
	color: #F59E0B;
}
/* ==============================
   feedback part css end 
   ==============================*/
/* ==============================
   QNA part css start 
   ==============================*/
   #qna h4{
    color: #4A4A4A;
    font-weight: 600;
    font-size: 20px;
   }
/* ==============================
   QNA part css end 
   ==============================*/